# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Build / packaging
build/
dist/
*.spec

# OS junk
.DS_Store
Thumbs.db

# App-generated artifacts (DO NOT COMMIT)
_dump_/
labels.pdf
*.pdf

# Logs / temp
*.log
